<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    .mega-menu-content {
    position: relative;
    top: 100%;
    left: 0;
    width: 100vw;
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    transition: bottom 0.5s ease;
   
  }
  
  .mega-menu:hover .mega-menu-content {
    display: block;
    z-index: 999;
    transform: translateY(0);
    background: yellow;
  }
  

  
  
  .navlinkitems li{
    list-style-type: none;
  }
    </style>
</head>
<body>
    <div class="mega-menu">
        <span>Hover Here</span>
        <div class="mega-menu-content">
          <ul class="navlinkitems">
            <li>Menu Item 1</li>
            <li>Menu Item 2</li>
            <li>Menu Item 3</li>
          </ul>
        </div>
      </div>
      
</body>
</html>



  
