#notification {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    min-height: 900px;
}

.profile-details {
    background-color: rgb(238, 243, 248);
}

.mobile-aside{
    display: none;
}

.profile-detail-body {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 85px;
    position: relative;
    z-index: 0;
}

.profile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 75px;
    width: 100%;
    border-bottom: 2px solid;
    border-color: rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    position: fixed;
    z-index: 5;
    background-color: white;
    /* background-image: linear-gradient(to bottom right,orange,white); */
}

.match-main {
    width: 45%;
}
.offSliderMain{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 350px;
}
.sliderPadding{
    padding-bottom: 10px;
    border-bottom:1px solid #f0edee;
    margin: 12px 15px;
}
.text-detils h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 4px;
    --tw-text-opacity: 1;
    color: rgb(52 73 94/var(--tw-text-opacity));
}
.text-detils p{
    font-size: 13px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(118 132 147/var(--tw-text-opacity));
}
.text-detils a{
    --tw-text-opacity: 1;
    color: rgb(216 70 92/var(--tw-text-opacity));
    font-family: 500;
}
.noti-main {
    width: 45%;
    border-radius: 5px;
    background-color: #ffffff;
}

.match-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 380px;
    background-color: #ffffff;
    border: 1px solid rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    border-radius: 5px;
    margin-bottom: 10px;

}

.profile-box {
    min-height: 900px;
    border: 1px solid rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    background-color: #ffffff;
    border-radius: 5px;
    width: 45%;
}

.left-side {
    display: "flex";
    padding: "10px 15px";
    justify-content: space-between;
}

.left-side-items {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    color: rgb(143, 142, 142);
}
.user-icon img {
    width:65px;
    border: 4px solid rgb(71, 183, 73);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 5px;
    margin-right: 12px;
    margin-bottom: 16px;
}
.user-percent{
    position: absolute;
    color: rgb(71, 183, 73);
    font-size: 11px;
    z-index: 10;
    margin-top: 52px;
    margin-left: 13px;
    background-color: #fff;
    height: 17px;
    border-radius: 13px;
    font-weight: 600;
    width: 38px;
    min-width: 35px;
    text-align: center;
}
.megtop{
    margin-left: -122px;
}

@media only screen and (max-width: 1200px) {

    .landing-navbar {
        display: none;
    }

    .profile-navbar {
        display: none;
    }

    .mobile-aside{
        display: flex;
        height: 70px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        background-color: #ffffff;
        border: 1px solid rgb(250, 240, 240);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: 5px 5px 5px rgb(250, 240, 240) inset;
    }

    .mobile-aside-child{
        text-align: center;
    }

    .profile-detail-body {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 0px;
        position: relative;
        z-index: 0;
    }

    .noti-main {
        width: 95%;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .profile-box {
        width: 100%;
        padding: 5px 10px;
    }

    .match-box {
        width: 100%;
    }

    .match-main {
        width: 95%;
    }
}