#notification {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    min-height: 900px;
}

.profile-details {
    background-color: rgb(238, 243, 248);
}

.mobile-aside{
    display: none;
}

.profile-detail-body {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 85px;
    position: relative;
    z-index: 0;
}

.profile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 70px;
    width: 100%;
    border-bottom: 2px solid;
    border-color: rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    position: fixed;
    z-index: 5;
    background-color: white;
}

.match-main {
    width: 45%;
}

.noti-main {
    width: 45%;
    border-radius: 5px;
    background-color: #ffffff;
}

.match-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 380px;
    background-color: #ffffff;
    border: 1px solid rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    border-radius: 5px;
    margin-bottom: 10px;

}

.profile-box {
    min-height: 900px;
    border: 1px solid rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    background-color: #ffffff;
    border-radius: 5px;
    width: 45%;
}

.left-side {
    display: "flex";
    padding: "10px 15px";
    justify-content: space-between;
}

.left-side-items {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    color: rgb(143, 142, 142);
}

@media only screen and (max-width: 1020px) {

    .landing-navbar {
        display: none;
    }

    .profile-navbar {
        display: none;
    }

    .mobile-aside{
        display: block;
        float: inline-start;
    }

    .profile-detail-body {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 0px;
        position: relative;
        z-index: 0;
    }

    .noti-main {
        width: 95%;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .profile-box {
        width: 100%;
        padding: 5px 10px;
    }

    .match-box {
        width: 100%;
    }

    .match-main {
        width: 95%;
    }
}