@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');


html, body, ul, form, button, input, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    outline: 0;
    color: #ffff;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
    outline: 0;
    color: #ffff;
}
.homePage{
    width: 100%;

}
.header-container{
    position: fixed;
    top:0;
    z-index: 6;
    height: 63px;
    width: 100%;
    font-weight: 400;
    color: #14202B;
}
.header--modifier{
    position: relative;
    max-width: 990px;
    height: 63px;
    margin: 0 auto;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);
    border-radius: 2px;

}


.jeevansathi-logo{
    width: 163px;
    height: 63px;
    float:left;
    text-align: center;
    background-color: #fff;
    vertical-align: middle;
    display: table-cell;
}

.menu-navbar{
    width:508px;
    background: rgba(52, 73, 94, 0.95);
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    height: 63px;
    color: #fff;
    float: left;
}
.menupl{
    padding-left: 27px;
}
.menu-list{
    padding-top: 22px;
    float: left;
}
.menu-list li{
    float: left;
    padding-right: 20px;
    position: relative;
    outline: none;
}
.menu-navbar--second{
    position: relative;
    width:319px;
    background: rgba(52, 73, 94, 0.95);
    font-size: 14px;
    font-family: 'Cabin',sans-serif;
    font-weight: 500;
    height: 63px;
    color: #fff;
    float: left;
    border-radius: 2px;
    overflow: hidden;
}

.signupMenu{
    display: table;
    line-height: 0;
    content: "";
    position:absolute;
    right: -160px;
    top: 0px;
    transition: 0.3s all;
    
   
}
.srolled{
    right: 0!important;
}
.loginPart{
    cursor: pointer;
    display: table;
    float: left;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    width:160px;
    line-height: 63px;
}
.registerPart{
    cursor: pointer;
    display: table;
    float: left;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    width: 159px;
    line-height: 63px;
    background:#d9475c;
}
.bgImage{
    width: 100%;
    background: url("https://static.jeevansathi.com/images/jspc/commonimg/cover_img_free_chat.png");
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 622px;
    

}
.contentHome{
    width: 663px;
    position: absolute;
    top: 38px;
    left: -24px;
    display: none;
    overflow: hidden;
    height: 335px;
    z-index: 3;
    background: rgba(52, 73, 94, 0.95);
    color: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    transition: bottom 0.5s ease;
}
.browse-menu{
    cursor: pointer;
}
.browse-menu i{
    padding-left:10px;
}
.browse-menu:hover + .contentHome{
    display: block;
    z-index: 9;
}
.contentHome:hover{
    display: block;
}
.browse-link-list {
    height: 100%;
    width: 29%;
    padding-top: 0.1em;
    position: relative;
    margin-bottom: -4982px;
    padding-bottom: 5000px;
    font-weight: 400;
    background: rgba(52, 73, 94, 0.80);
    color: #fff;
    float: left;
}
.browse-link-list div{
    padding: 10px 0 10px 16px;
    font-size: 16px;
    display: block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.browse-link-list div:hover{
    background: #d9475c url(https://static.jeevansathi.com/images/jspc/commonimg/topnav-arwright.png) no-repeat 170px 16px;
}
.search-ml{
    margin-left: 56px;
}
.browseContent{
    width: 71%;
    float: right;
}
.browseContent .row{
    margin-left: 12px;
    margin-top: 10px;
}
.list-element{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 10px 10px 12px;
}
.list-element:hover{
    background: #d9475c;
}
.search-menu{
    cursor: pointer;
    padding-bottom: 18px;
}
.search-menu i{
    padding-left: 8px;
}
.search-list{
    position: absolute;
    width: 246px;
    margin-right: 10px;
    display: none;
    left:-16px;
    background: rgba(52, 73, 94, 0.97);
}
.search-list div{
    padding: 10px 10px 10px 16px;
}
.search-list div:hover{
    background-color: #d9475c;
}
.search-list:hover{
    display: block;
}
.search-menu:hover + .search-list{
    display: block;
}

.firstBlock{
    margin-top: -622px;
}

.looking-Container{
    padding: 54px 0px 25px;
    font-family: 'Cabin',sans-serif;
    color: #fff;
    width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.looking-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.nowChatForFree{
    font-style: normal;
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.03em;
    color: #FFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.isLooking{
    font-size: 20px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 75%);
    margin-top: 4px
}
.registerFields{
    margin-top: 16px;
    width: 370px;
    background: rgba(0,0,0,0.55);
    border-radius: 6px;
}
.registerFields label{
    font-size: 12px;
    color: #FFF;
    letter-spacing: 0;
    padding-top: 13px;
    margin-bottom: 0;
}
.registerFields input, select{
    width: 338px;
    height: 35px;
    background-color: #FFF;
    color: #14202B;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    padding-left: 12px;
    outline: none;
}
.countryCode select{
    width: 90px;
    border-right: 1px solid rgb(197, 195, 195);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mobileText{
    width: 248px!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.register_Button{
    width: 338px;
    margin-top: 13px;
    padding: 6px;
    font-size: 14px;
    color: #FFF;
    letter-spacing: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    background: #D9475C;
}
.register_Button:hover{
    background: #EA556B;
}
.register_Tmc{
    font-weight: 500;
    font-size: 12px;
    color: #FFF;
    letter-spacing: 0;
    padding-top: 13px;
}
.register_Tmc span{
 color: #d9475c;
 cursor: pointer;
}

/* main-benifit  */


.homeContainer{
    width: 990px;
    margin: 0 auto;
    box-shadow: 0 2px 6px 0 rgba(142, 142, 142, 0.2);
    margin-bottom: 48px;
    border-radius: 4px;
}
.main-benifit{
    border-radius: 6px;
    background-color: #fff;
    font-family: 'Cabin', sans-serif;
    font-weight: 400px;
    padding: 28px 74px 48px 74px;
    margin: 20px 0;
}
.moreThan{
    letter-spacing: 1.75px;
    color: #8A9DB0;
    font-size: 14px;
    font-weight: 700;
}
.bringingPeople{
    color: #000;
    font-size: 28px;
    font-weight: 400;
}
.main-benifit span{
    color: #d9475c;
}
.infoImg{
    height: 53px;
    width: 60px;
    background-image: url("https://static.jeevansathi.com/images/jspc/myjsImg/Top_new_Benefits.png");
    background-repeat: no-repeat;
}
.ImgPosition{
    background-position: -23px -10px;
}
.ImgPosition2{
    background-position: -206px -10px;
}
.ImgPosition3{
    background-position: -121px -10px;;
}
.underline{
    height: 2px;
    width: 39px;
    margin: 8px 0 5px 0;
    background-color: #d9475c;

}
.textmore{
    line-height: 19px;
    color: #33495F;
    font-size: 13px;
    font-weight: 400;
}

/* FeaturesSection */

.featuresSection{
    position: relative;
    background-color: #f8f9f9;
    padding: 0 4rem;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    
}
.featuresSection_body{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 310px;
    flex: none;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
.featuresSection__Header{
    width: 990px;
    padding-top: 6rem;
    padding-bottom: 2rem;
    margin: 0 -4rem;
    padding-left: 4rem;
    background: #f8f9f9;
}
.FeaturesSection__SubTitle{
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 0.25rem;
    color: #8A9DB0;
}
.featuresSection__Title{
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
}
.featuresSection__Title span{
    color: #D9475C;
}
.featuresSection-List{
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}

.featuresSection-List a{
    display: inline-block;
    color: inherit;
    opacity: 0.5;
    margin-bottom: 3.5rem
}

.featuresSection-List .underline3{
    height: 2px;
    width: 39px;
    margin: 8px 0 5px 0;
    background-color: #33495F;
} 
.featuresSection-List h3{
    position: relative;
    line-height: 1.21;
    padding-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
    margin-top: 0;
    color: #14202B;
}
.featuresSection-List h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #14202B;
    width: 3rem;
    height: 2px;
}

.featuresSection-List p{
    font-size: .875rem;
    line-height: 1.21;
    margin: 0;
    color: #33495F;
}
.featuresSection-List a:hover{
    opacity: 1;
}
.jvlist1{
    opacity: 1!important;
}
.jvlist1 h3::after{
    background-color: #d9475c;
}
.jvlist2{
    opacity: 1!important;
}
.jvlist2 h3::after{
    background-color: #d9475c;
}
.jvlist3{
    opacity: 1!important;
}
.jvlist3 h3::after{
    background-color: #d9475c;
}
.featuresSection-List a:hover h3::after{
     background-color: #d9475c;
}

.featuresSection-Images{
    flex: 1 0 0;
    position: relative;
    overflow: hidden;
}
.featuresSection--Images--Wrapper:first-child {
    margin-top: 0;
}
.featuresSection--Images--Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 380px;
    margin-left: auto;
    padding: 12rem 0 4rem 0;
    margin-top: -35vh;
}

.featuresSection--Images--Wrapper--img{
    display: block;
    height: 50vh;
    max-height: 420px;
    min-height: 370px;
    max-width: 100%;
    margin: 0 auto;
}
.findWorkImg{
    height: 100px;
    width: 197px;
    background-image: url("https://static.jeevansathi.com/images/jspc/myjsImg/How_it_works.svg");
    background-repeat: no-repeat;
}

.img-postion{
    background-position: -14px -10px;    
}
.img-postion2{
    background-position: -233px -10px;    
}
.img-postion3{
    background-position: -449px -10px;    
}
.findWorkTxt{
    /* width: 197px; */
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
.findBottom{
    background: #D9475C;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 150px;

}

.membershipPlans{
    padding: 28px 74px 48px 74px;
    background-color: #f8f9f9;
    text-align: center;
    justify-content: center;
    margin-bottom: -230px;
}
.membership-Title{
    font-size: 28px;
    font-weight: 600;   
}
.membership-Title span{
    color: #D9475C;
}
.membership-Txt{
    font-size: 16px;
    color: #4C6176;
    padding: 10px 0 30px 0;
}
.membership{
    display: flex;
    justify-content: center;
    text-align: center;
}
.free-Membership{
    height: 440px;
    width: 350px;
    margin-top: 40px;
    box-shadow: 0 2px 6px -1px rgba(38,48,140,0.20);
    padding: 24px;
    text-align: left;
    z-index: 2;
    border-radius: 4px;
    background-color: #ffff;
}
.microLine{
    height: 3.2px;
    width: 33.6px;
    background-color: #d9475c;
}
.membership-text{
    display: flex;
    padding-bottom: 16px;
    text-align: start;
    padding-top: 4px;
}
.pddingTop{
    margin-top: 12px;
}

.materialIcons{
    width: 24px;
    height: 24px;
    background-image: url(https://static.jeevansathi.com/images/jspc/commonimg/Material_Icons_Sprites_final.svg);
    background-repeat: no-repeat;
}
.pinktick{
    background-position: -271px -38px;
}
.pinktick2{
    background-position: -288px -134px; 
    
}
.colorGray{
    color: #8A9DB0;
}
.freeRegister{
    height: 35px;
    display: flex;
    background: #D9475C;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.paid-Membership{
    width: 350px;
    background-color: #d9475c;
    border-radius: 4px;
    color: #ffff;
    text-align: left;
    /* margin-top: -40px; */
    padding: 32px 0px 32px 32px;
    box-shadow: 0 2px 6px 0 rgba(38, 48, 140, 0.2);

}
.microLine2{
    height: 3.2px;
    width: 34px;
    background-color: #fff;
}
.paid-Membership--Title{
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}
.pinktick3{
    background-position: -85px -37px; 
}
.paidRegister{
    width: 90%;
    height: 35px;
    display: flex;
    background: #fff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: #D9475C;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.bgBlue{
    height: 232px;
    background-color: #34495e;
    /* margin-top: -240px; */
}

.exclusivePad{
    padding: 32px 60px 45px 74px;
    background-color: #fff;
}
.exclusiveImage{
    width: 851px;
    height: 490px;
    background: #FBFBFB;
    background-repeat: no-repeat;
    background-position: bottom left;
    border-radius: 12px;
    background-image: url("https://www.jeevansathi.com/images/jspc/commonimg/JS_Exclusive_Image_final_min.png");
}
.exclusiveBtn{
    padding: 4px 16px;
    color: #fff;
    background-color: #d9475c;
    border-radius: 4px;
    font-size: 14px;
}
.disp-flex{
    display: flex;
    padding-top: 28px;
}
.pickPeople{
    background-position: -45px -135px;
}

.divideSize{
    width: 0px;
    height: 75px;
    border: 1px solid #DFE6ED;
    margin: 0px 10px 0px 6px;
}
.exclusiveMeet{
    font-size: 16px;
    font-weight: 500;
    padding-left: 8px;
}
.txtMore{
    font-size: 13px;
    line-height: 19px;
    color: #33495F;

}
.pickTune{
    background-position: -136px -135px;
}
.pickprofile{
    background-position: -89px -135px;
}
.successStory{
    padding: 30px 50px 45px 74px;
    background-color: #f8f9f9;
}
.storyMatched{
    width: 866px;
}

/* slide------- */
.storySlick{
    position: relative;
    padding-top: 20px;
}
.storySlick .slick-prev {
    width: 40px!important;
    height: 40px!important;
    left: -20px !important;
    border-radius: 50%;
    box-shadow: 0 12px 18px 0 rgba(38,48,140,0.20);
    background-color: #ffff!important;
    color: #000000;
    z-index: 5;
    background-image: url("https://static.jeevansathi.com/images/jspc/commonimg/Material_Icons_Sprites_final.svg")!important;
    background-repeat: no-repeat!important;
    background-position: -24px -80px!important;
}
.storySlick .slick-next{
    width: 40px!important;
    height: 40px!important;
    right: -20px!important;
    border-radius: 50%;
    box-shadow: 0 12px 18px 0 rgba(38,48,140,0.20);
    background-color: #ffff!important;
    background-image: url("https://static.jeevansathi.com/images/jspc/commonimg/Material_Icons_Sprites_final.svg")!important;
    background-repeat: no-repeat!important;
    background-position: -190px -80px!important;
  }
  .slick-next:before,
  .slick-prev:before {
    content: "" !important;
    background-color: #000;
  }
  .next-slick-arrow,
  .prev-slick-arrow {
    color: #000000;
    font-size: 45px;
  }

.storySlick .slick-current{
    width: 289px!important;
    height: 230px;
    min-height: 100px;
}
.slick-cloned{
    width: 100%;
    display: inline-block;
    height: 228.9px;
}
.storyList{
    position: relative;
    margin-right: 20px;
    height: 100%!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center top;
    border-radius: 20px;
}
.pos_abs{
    width: 100%;
    position: absolute;
    padding-top: 10px;
    bottom: 0;
    color: #fff;
    text-align: center;
}
.story-Name{
    text-shadow: 0 1px 1px rgba(0,0,0,0.27);
    font-size: 40px;    
    font-family: 'Aguafina Script', cursive;
}
.lineClass{
    border: 2px solid white;
    width: 90%;
    margin: 0 auto;
    margin-top: -5px;
}
.marriageDate{
    letter-spacing: 1.15px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.24);
    font-size: 11px;
    font-weight: 600;
    padding-top: 7px;
    padding-bottom: 20px;
}
.storyDetails{
    position: relative;
    height: 228.2px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: #F0455E;
    border-radius: 7px;
    color: #fff;
    padding: 24px;
    transition: 2s all;
}

.storyDesc{
    height: 98px;
    padding-top: 8px;
    overflow: hidden;
}
.storyList:hover .storyDetails{
    visibility:visible;
    opacity: 1;
}
.viewMore{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    display: flex;
}
.iconView{
    background-position: -340px -38px
}



.connectApp{
    height: 390px;
    justify-content: space-between;
    color: #fff;
    background-color: #34495e;
    display: flex;
}
.connectApp-Txt{
    width: 45%;
    padding: 28px 0 0 55px;
    float: left;
}

.appsImg{
    height: 48px;
    width: 145px;
    background-image: url("https://static.jeevansathi.com/images/jspc/myjsImg/store_icons_sprite.png");
    background-repeat: no-repeat;
}
.app{
    background-position: 0px 0px
}
.appsImg2{
    height: 52px;
    width: 164px;
    background-image: url("https://static.jeevansathi.com/images/jspc/myjsImg/store_icons_sprite.png");
    background-repeat: no-repeat;
}
.app2{
    background-position: -174px 0px
}
.connectApp-Img{
    position: relative;
    width: 52%;
    padding-top: 20px;
}
.connectApp-Img img{
    position: absolute;
    width: 463px;
    height: 372px;
    object-fit: contain;
}
.matrimonialContainer{
    padding-top: 40px;
    background-color: #fff;
    /* text-align: center; */

}
.matrimonial-Browse{
    list-style-type: none;
    padding-top: 8px;
    display: inline-block;
}
.bgLight{
    background-color: #e5e5e5;
}
.matrimonial-Browse li{
    float: left;
    padding: 8px;
    margin-right: 10px;
    cursor: pointer;
}
.matrimonial-Browse .active{
    background-color: #e5e5e5;
}
.matrimonial-List{
    margin: 0px;
    display: inline-block;
}
.matrimonial-List li{
    list-style-type: none;
    position: relative;
    display: inline-block;
    line-height: 24px;
    padding: 5px 6px;
    font-size: 13px;
}
.matrimonial-List li a{
    color: #9c9a9a;
    cursor: pointer;
}
.matrimonial-List li a:hover{
    color: #000;
}
.sub-h{
    color: #9c9a9a;
}
.subhobver{
    visibility: hidden;
}
.subhobver-pos{
    position: absolute;
    left: -76.75px;
    z-index: 2;
}
.hobverbg{
    position: relative;
    background-color: #232832;
    padding: 5px;
    white-space: nowrap;
}
.lineHeight{
    height: 3px;
}
.materLink{
    padding: 5px;
    font-size: 13px;
    color: #FFF !important;
    opacity: 0.7;
    font-weight: 500;
}
.materLink:hover{
    opacity: 1;
}
.UpArrow{
    width: 24px;
    height: 24px;
    margin-top: -11px;
    margin-left: 13px;
    float: left;
    background-position: -151px -87px;
}
li:hover .subhobver{
    visibility: visible;
}

.seoText{
    padding: 35px 35px 40px 35px;
    background-color: #f8f9f9;
    text-align: justify;
}
.seoText img {
    height: 46px;
}
.seoText-Desc{
    color: #14202B;
    line-height: 24px;
    font-size: 14px;
    opacity: 0.8;
    padding-top: 18px;
}
.seoText-Note{
    line-height: 24px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.8;
    padding-top: 20px;
}

.footer-container{
    background-color: #34495e;
    padding-bottom: 30px;
    width: 100%;
}
.footer-container2{
    background-color: #34495e;
    height: 50px;
    width: 100%;
}
.footer-List{
    width: 990px;
    margin: 0 auto;
    padding: 0;
}
.footerWid{
    width: 265px;
}
.footerWid li{
    opacity: 0.7;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}
.footerWid-Title{
    color: #fff;
    line-height: 25px;
    opacity: 1!important;
    font-size: 16px;
}
.AppFollow{
    background-color: #2E4154;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}
.AppFollow-List{
    width: 990px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;

}
.footerIcon{
    background-image: url("https://static.jeevansathi.com/images/jspc/commonimg/FooterIconsSpriteNew.svg");
    background-repeat: no-repeat;
}
.iconPostion{
    background-position: -65px 0px;
    padding: 0px 10px;
}
.iconPostion2{
    background-position: -37px 0px;
    padding: 0px 10px;
}
.iconPostion3{
    background-position: -89px 0px;
    padding: 0px 10px;
}
.iconPostion4{
    background-position: -140px 0px;
    padding: 0px 10px;
}
.iconPostion5{
    background-position: -112px 0px;
    padding: 0px 10px;
}
.foterLive{
    width: 500px;
    color: #fff;
    opacity: 0.8;
    padding-top: 12px;
    
}
.visa{
    background-position: -149px -49px;
    width: 45px;
    height: 29px;
}
.mcard{
    background-position: -194px -49px;
    width: 45px;
    height: 29px;
}
.footerCard li{
    margin-top: 10px;
    margin-left: 8px;
    cursor: pointer;
}
.facebok{
    background-position: -196px -192px;
    width: 36px;
    height: 36px!important;
}
.twiter{
    background-position: -196px -229px;
    width: 36px;
    height: 36px!important;
}
.linkin{
    background-position: -161px -266px;
    width: 36px;
    height: 36px;
}
.goglep{
    background-position: -197px -266px;
    width: 36px;
    height: 36px;

}
.copyRight{
    background-color: #e1e4e7;
    font-size: 12px;
    color: #666;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}
.partnerList{
    padding: 10px 0 10px 128px;
    text-align: center;
    display: flex;
}
.partnerSite{
    font-size: 12px;
    font-weight: 600;
    color: #a9a9a9;
    padding: 30px 36px 0 0;
    /* float: left; */
}
.footerContainer{
    width: 600px;
    height: 80px;
    /* float: left; */
}
.partnerName{
    /* float: left; */
    /* display: flex!important; */
    /* width: 548px;
    height: 80px; */
    margin: 10px 27px;
}
.partnerName div{
    float: left;
    padding-left: 40px;
}
.headfoots{
    background-image: url("https://static.jeevansathi.com/images/jspc/commonimg/header-footer3.png");
    background-repeat: no-repeat;
    height: 44px;
}
.acre{
    background-position: 1px 1px;
    width: 72px!important;
    /* padding: 0 10px!important; */
}
.nc{
    background-position: 1px -86px;
    width: 114px!important;
}
.ng{
    background-position: 1px -46px;
    width: 148px!important;
}
.shiksha{
    background-position: -64px -123px;
    width: 85px!important;
}
.mydala{
    background-position: -83px 1px;
    width: 101px!important;
}
.pb{
    background-position: -123px -89px;
    width: 91px!important;
}
.zomato{
    background-position: -7px -124px;
    width: 49px!important;
}
.meritn{
    background-position: 1px -163px;
    width: 163px!important;
}
.ambitionbox{
    background-position: -272px 6px;
    width: 130px!important;
    height: 28px;
    margin-top: 10px
}

.footerContainer .slick-prev {
    width: 11px!important;
    height: 23px!important;
    color: #000000;
    left: -30px;
    top:25px;
    z-index: 9;
    background-image: url("https://static.jeevansathi.com/images/jspc/commonimg/header-footer3.png")!important;
    background-repeat: no-repeat!important;
    background-position: -193px 1px!important;
}
.footerContainer .slick-next{
    width: 11px!important;
    height: 23px!important;
    right: -20px!important;
    top:25px;
    background-image: url("https://static.jeevansathi.com/images/jspc/commonimg/header-footer3.png")!important;
    background-repeat: no-repeat!important;
    background-position: -210px 1px!important;
  }
  .slick-next:before,
  .slick-prev:before {
    content: "" !important;
    background-color: #000;
  }
  .next-slick-arrow,
  .prev-slick-arrow {
    color: #000000;
    font-size: 45px;
  }

.footerContainer .slick-current{
    width: 130px!important;
}
.footerContainer .slick-slider{
    margin-top: 15px;
    margin-left: 34px;
    width: 508px;
    height: 80px;
}

/* login  */

.popup-box {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10!important;
  }
  
  .box {
    position: relative;
    width: 38.4%;
    margin: 0 auto;
    height: auto;
    max-height: 150vh;
    margin-top: calc(100vh - 80vh - 70px);
    background: #e7e7e6;
    overflow: none;
  }
  
  .close-icon{
    background-image: url(https://static.jeevansathi.com/images/jspc/commonimg/sprite-two.png?cacheBurst=true);
    background-repeat: no-repeat;
    background-position: -73px -178px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: fixed;
    right: calc(6% - 62px);
    top: calc(100vh - 84vh - 86px);
    line-height: 20px;
    text-align: center;
    /* font-size: 30px; */
  }
  .loginFrm{
    padding: 28px 48px 35px 45px;
    color: #2c2c2c;
    font-size: 15px;
  }
  .loginTxt{
    font-size: 17px;
    color: #2c2c2c;
    /* font-family: "Roboto","sans-serif"; */
    font-weight: 300;
  }
  .loginInput{
    border: 1px solid #c0c0c0;
    padding: 22px 20px;
    width: 100%;
  }
  .loginInput input{
    font-size: 15px;
    background: none;
    color: #888;
    border: none;
    width: 70%;
    padding: 5px;
    height: 20px;
    outline: none;
    /* float: left; */
  }
  .loginBtns{
    font-size: 18px;
    background-color: #34495e;
    border: none;
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: 63px;
    margin-top: 12px;
  }
  .loginBtns:hover{
    background-color: #435870;
  }
  .loginFrm2{
    border-top: 1px solid #c0c0c0;
    padding: 28px 48px 35px 45px;
  }
  .loginFrm2 p{
    text-align: center;
    font-size: 17px;
    color: #2c2c2c;
  }
  .registerBtn{
    font-size: 18px;
    color: #fff;
    line-height: 63px;
    background-color: #d9475c;
    border: none;
    width: 100%;
  }
  .registerBtn:hover{
    background-color: #e15065;
  }

  /* user-profile page  */

    .proDetailBg{
        background-color: #f3f2f2;
    }
    .pro-coverImg{
        background: url("https://static.jeevansathi.com/images/jspc/membership_img/cover-image.jpg");
        background-size: cover;
        padding-top: 35px;
    }
    .profile-container{
        width: 990px;
        margin: 0 auto;
        padding: 0;
    }
    .proheader{
        position: relative;
        background: rgba(52, 73, 94, 0.75);
        color: #fff;
        display: table;
        width: 100%;
    }
    .pro-jeevanLogo{
        background: rgba(255, 255, 255, 0.95);
        width: 16.6%;
        padding: 14px 0 13px;
        float: left;
    
    }
    .liveChat-Help{
        font-size: 14px;
        float: right;
        margin-right: 20px;
        margin-top: 22px;
    }
    .liveChat-Help span{
        margin-left: 30px;
    }
    .proSection{
        display: block;
        padding: 38px 80px 22px 80px;
    }
    .proSText{
        font-size: 15px;
        width: 100%;
        display: flex;
        color: #fff;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }
    .proSText div{
        width: 33.3%;
        padding-bottom: 10px;
        color: #fff;
        opacity: 0.5;
    }
    .reg-active{
        border-bottom: 2px solid #fff;
        font-size: 17px;
        opacity: 1!important;
        color: #fff;
    }
    
    .register-wid{
        width: 830px;
        margin: 0 auto;
    }
    .regi-info{
        font-size: 22px;
        font-weight: 200;
        color: #4c4151;
        padding-top: 30px;
        text-align: center;
    }
    .arletVlid{
        width: 500px;
        float: right;
        color: #d9475c;
        padding-top: 4px;
        font-size: 14px;
    }
    .reg-wid80{
        width: 80%;
    }
    .mandator{
        font-size: 14px;
        text-align: right;
    }
    .regi-detail{
        width: 100%;
        font-size: 15px;
        padding-top: 7px;
    }
    
    .regi-secle{
        position: relative;
        height: 47px;
        width: 500px;
        background-color: #fff;
        float: right;
        border: 1px solid #d9d9d9;
        border-radius: 2px;

    }
    .regi-secle2{
        position: relative;
        height: 135px;
        width: 500px;
        background-color: #fff;
        float: right;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        margin-bottom: 20p;
    }
    .reg-label{
        position: absolute;
        left: 10px;
        top: 8px;
        color:#353e4f;
        transition: 0.2s;
    }
    .reg-label2{ 
        left: -140px;
    }
    .reg-label3{ 
        left: -120px;
    }
    .reg-label4{ 
        left: -137px;
    }
    .reg-label5{ 
        left: -90px;
    }
    .reg-label6{ 
        left: -125px;
    }
    .reg-label7{ 
        left: -80px;
    }
    .reg-country{ 
        left: -85px;
    }
    .reg-State{ 
        left: -68px;
    }
    .reg-HDegree{ 
        left: -136px;
    }
    .reg-emp{ 
        left: -118px;
    }
    .reg-Aicome{ 
        left: -134px;
    }
    .reg-expres{ 
        left: -140px;
    }
    .reg-famly{
        left: -108px;
    }
    .reg-FtherOcption{
        left: -165px;
    }
    .reg-mtherOcption{
        left: -175px;
    }
    .reg-brther{
        left: -85px;
    }
    .reg-sister{
        left: -70px;
    }
    .reg-famlyLing{
        left: -134px;
    }
    .reg-Addree{
        left: -144px;
    }
    



    .star{
        color: #F00;
        font-size: 18px;
    }
    .regi-secle input{ 
        outline: none;
        color: #353e4f;
        padding: 14px 31% 14px 10px;
        background-color: white;
        width:498px;
        border: 0;
        float: left;
    }
    .regi-secle2 textarea{
        width:498px;
        height: 120px;
        outline: none;
        color: #353e4f;
        background-color: white;
        border: 0;
        float: left;
        resize: none;
        padding: 8px 10px;
        font-size: 14px;
    }
    .ext-opt{
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 12px;
        margin-right: 6px;
        cursor: pointer;
        padding-bottom: 12px;
    }
    .ext-opt span{
        font-size: 12px;
        color: #666;
    }
    .ext-opt i{
        font-size: 14px;
        color: #666;
        margin-left: 8px;
    }
    .iconSetting{
        width: 25px!important;
        height: 21px!important;
        background-image: url("https://static.jeevansathi.com/images/jspc/commonimg/iconSpriteNameSetting.png");
        background-repeat: no-repeat;
        background-position: -32px -30px;
    }
    .ext-opt ul{
        width: 338px;
        list-style-type: none;
        margin-top: 12px;
        right: -4px;
        position: absolute;
        display: none;
    }
    .ext-opt:hover  ul{
        display: block;
    }
    .ext-opt ul li{
        font-size: 13px;
        font-weight: 400;
        color: #5a5a5a;
        height: 50px;
        background-color: white;
        border: 1px solid #d9475c;
        padding: 8px;
        z-index: 9;
        position: relative;
    }
    .selectedOpt{
        background-color: #d9475c!important;
        color: white!important;
    }
    .extraTxt{
        padding: 8px 20px;
        height: 46px;
        float:right;
        width: 500px;
        font-size: 13px;
        color: #5a5a5a;
        background-color: #fff;
        line-height: 16px;
    }
    .DOBSelected{
        display: flex;
        text-align: center;
        /* display: none; */

    }
    .DOBSelected li{
        position: relative;
        width: 166px;
        border-right: 1px solid #dddada;
        height: 47px;
        cursor: pointer;
    }
    .DOBSelected li div{
        margin-top: 10px;
        padding: 0 10px 0 28px;
    }
    .dropArrow{
        background: url("https://static.jeevansathi.com/images/jspc/commonimg/iconsvert.png");
        background-size: cover;
        background-position: -1px -131px;
        width: 18px;
        height: 12px;
        float: right;
        margin-top: 6px;
    }
    .imgArrow{
        position: absolute;
        background: url("https://static.jeevansathi.com/images/jspc/registration/reg-spirite.png");
        background-repeat: no-repeat;
        background-position: -6px -214px;
        width: 16px;
        display: inline-block;
        height: 11px;
        top: 35px;
        left: 75px;
        z-index: 9;
    }
    .daysBox{
        position: absolute;
        width: 405px;
        border: 1px solid #d9475c;
        background-color: #fff;
        border-radius: 2px;
        top: 44px;
        font-size: 15px;
        z-index: 5;
    }
    .daysBox2{
        display: none;
    }
    .daysBox ul li{
        width: 40px;
        float: left;
        text-align: center;
        padding: 14px 0;
        cursor: pointer;
        border-bottom: 1px solid #d9d9d9;
    }
    .daysBox ul li:hover{
        background: #d9475c;
        color: #fff;
    }
    .monthsBox{
        position: absolute;
        width: 330px;
        border: 1px solid #d9475c;
        background-color: #fff;
        border-radius: 2px;
        top: 44px;
        font-size: 15px;
        left: 168px;
        z-index: 5;
    }
    .monthsBox2{
        display: none;
    }
    .monthsBox ul li{
        width: 82px;
        float: left;
        text-align: center;
        padding: 10px 0;
    }
    .monthsBox ul li:hover{
        background: #d9475c;
        color: #fff; 
    }
    .yersBox{
        position: absolute;
        width: 332px;
        border: 1px solid #d9475c;
        background-color: #fff;
        border-radius: 2px;
        top: 44px;
        font-size: 15px;
        left: 168px;
        max-height: 200px;
        overflow-y: scroll;
        z-index: 5;
    }
    .yersBox2{
        display: none;
    }
    .yersBox ul li{
        width: 78px;
        float: left;
        text-align: center;
        padding: 10px 0;
    }
    .yersBox ul li:hover{
        background: #d9475c;
        color: #fff; 
    }
    .gridDropdown{
        position: absolute;
        width: 500px;
        border: 1px solid #d9475c;
        font-size: 15px;
        background-color: #fff;
        top: 45px;
        overflow-y: scroll;
        max-height: 200px;
        z-index: 10;
    }
    .gridDropdown li{
        padding: 5px 20px;
        color: #353e4f;
        cursor: pointer;
       
    }
    .gridDropdown li:hover{
        background: #d9475c;
        color: #fff;
    }
    .religionBox{
        position: absolute;
        width: 500px;
        border: 1px solid #d9475c;
        max-height: 200px;
        font-size: 15px;
        background-color: #fff;
        top: 45px;
        z-index: 5;

    }
    .religionBox ul li{
        width: 118px;
        float: left;
        text-align: center;
        padding: 4px 0;
        cursor: pointer;
        margin-top: 2px;

    }
    .religionBox ul li:hover{
        background: #d9475c;
        color: #fff;

    }
    .religionIcon{
        top: -10px!important;
        left: 15px!important;
    }
    .mStatusBox{
        position: absolute;
        border: 1px solid #d9475c;
        max-height: 200px;
        font-size: 15px;
        width: 500px;
        background-color: #fff;
        top: 45px;
        z-index: 5;
    }
    .mStatusBox ul li{
        width: 157px;
        float: left;
        text-align: center;
        padding: 4px 0;
        cursor: pointer;
        margin-top: 2px;
        white-space:nowrap; 
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mStatusBox ul li:hover{
        background: #d9475c;
        color: #fff;
    }
    .highdegBox{
        position: absolute;
        border: 1px solid #d9475c;
        max-height: 200px;
        font-size: 15px;
        width: 500px;
        background-color: #fff;
        top: 45px;
        z-index: 5;
    }
    .highdegBox ul li{
        width: 118px;
        float: left;
        text-align: center;
        padding: 4px 0;
        cursor: pointer;
        margin-top: 2px;
    }
    .highdegBox ul li:hover{
        background: #d9475c;
        color: #fff;
    }
    .proBtns{
        width: 200px;
        float: left;
        font-weight: 400;
        color: #fff;
        padding: 14px 0;
        border: none;
        background: #d9475c;
        font-size: 20px;
        margin: 30px 0 200px 160px;
    }
    .CmptRegiBtn{
        width: 230px;
        float: left;
        font-weight: 400;
        color: #fff;
        padding: 14px 0;
        border: none;
        background: #d9475c;
        font-size: 20px;
        margin: 30px 0 200px 160px;
    }
    .CmptRegiBtn2{
        width: 230px;
        float: left;
        font-weight: 400;
        color: #fff;
        padding: 14px 0;
        border: none;
        background: #d9475c;
        font-size: 20px;
        margin-right: 20px;
    }
    .addProfile{
        width: 100%;
        float: left;
        margin: 30px 0 200px 160px;
        
    }
    .addProfile a{
        color: #000;
    }
    .reg-wid15{
        padding-top: 30px;
        width: 15%;
        float: right;
        text-align: center;
        color: #3b475e;
        font-size: 13px;
        margin-left: 42px;


    }
    .wyregi{
        color: #666;
        font-size: 17px;
        font-weight: 700;
        padding-bottom: 10px;
        border-bottom: 1px solid #666;
        margin-bottom: 30px;
        text-transform: uppercase;
        float: right;

    }
    .reg-privacy{
        background: url("https://static.jeevansathi.com/images/jspc/registration/reg-spirite.png");
        background-repeat: no-repeat;
        display: inline-block;
        height: 44px;
    }
    .privyIcon{
        background-position: 1px 1px;
        width: 39px;
    }
    .privyIcon2{
        background-position: 1px -48px;
        width: 47px;
        margin-top: 30px;
    }
    .privyIcon3{
        background-position: 1px -94px;
        width: 47px;
        margin-top: 30px;

    }
    .privyIcon4{
        background-position: 1px -140px;
        width: 47px;
        margin-top: 30px;

    }
    .selectLang{
        width: 502px;
        float: right;
        font-size: 15px;
        margin-top: 30px;
    }
    .selLgWid{
        width: 55%;
        float: left;
        position: relative;
    }
    .selLgWid input{
        padding: 14px 10px;
        background-color: white;
        position: absolute;
        left: -9999px;
    }
    .setLang{
        position: relative;
        /* display: block; */
        width: 2.3em;
        height: 1em;
        cursor: pointer;
        transition: 350ms;
        color: #353e4f;
    }
    .selLgWid input:checked + .setLang2::before {
        background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
        box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(255, 255, 255, 0.1) inset;
    }
    .selLgWid input:checked + .setLang2::after {
        left: 0;
        background: linear-gradient(#eee 10%, #eeeeee);
        box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
    }
    .setLang::before{
        position: absolute;
        content: '';
        width: 2em;
        height: 0.9em;
        top: 0.2em;
        left: 0;
        border-radius: 0.75em;
        transition: 250ms ease-in-out;
        box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 rgba(217, 71, 92, 0.5) inset;
    }
    .setLang::after {
        position: absolute;
        content: '';
        width: 1.22em;
        height: 1.22em;
        top: 0em;
        left: 1em;
        border-radius: 50%;
        transition: 250ms ease-in-out;
        box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), 3em 0 0 0 rgba(217, 71, 92, 1) inset;
    }
    .selLgWid2{
        width: 25%;
        float: right;
        font-size: 14px;
        text-align: right;
        color: #d9475c;
    }
    .extraTxt2{
        padding: 10px;
        /* height: 46px; */
        float:right;
        width: 500px;
        font-size: 14px;
        color: #464545;
        background-color: #fff;
    }
    .familyType li{
        width: 124.5px;
        float: left;
        height: 46px;
        text-align: center;
        padding: 10px 0 15px 0;
        cursor: pointer;
        position: relative;
        color: #353e4f;
        border-left: 1px solid #d9d9d9;


    }
    .otpActive{
        background-color: #d9475c;
        color: #fff!important;
    }
    .brotherList li{
        width: 99.6px;
        float: left;
        height: 46px;
        text-align: center;
        padding: 10px 0 15px 0;
        cursor: pointer;
        position: relative;
        color: #353e4f;
        border-left: 1px solid #d9d9d9;
    }
    .phoneVriy{
        font-size: 22px;
        padding-top: 26px;
        padding-bottom: 27px;
        color: #fff;
    }
    .phoneVryDesc{
        color: #4c4151;
        opacity: 0.8;
        padding-top: 30px;
        padding-bottom: 48px;
        font-size: 17px;
        text-align: center;
    }
    .phoneVerTxt{
        font-size: 22px;
    }
    .ml117{
        margin-left: 110px;
        /* display: flex; */
    }
    .mobTitle{
        color: #34495e;
        opacity: 0.9;
        padding-top: 15px;
    }
    .mobpostion{
        margin-left: 20px;
        position: relative;
        width: 500px;
        padding: 6px;
        height: 62px;
        text-align: left;
        font-size: 12px;
        border: 1px solid #d9d9d9;
        margin-bottom: 20px;
        background-color: #fff;
    }
    .mobpostion input{
        font-size: 17px;
        height: 50px;
        border: 0;
        outline: none;
    }
    .phoneISD{
        width: 80px;
        border-right:1px solid #d9d9d9!important;
        text-align: center;
        padding: 10px 12px;
        
    }
    .mobileNuber{
        width: 220px;
        color: #34495e;
        padding-left: 30px;
    }
    .verifyButton{
        font-size: 20px;
        margin-left: 130px;
        margin-top: 20px;
        background-color: #d9475c;
        color: #fff;
        border: 0;
        padding: 8px 30px;

    }
    .phnTxt{
        font-size: 13px;
        color: #34495e;
        padding-top: 22px;
        padding-bottom: 100px;

    }
    .customerSport{
        width: 834px;
        border-top: 1px solid #dbdadd;
        font-size: 13px;
        margin: 0 auto;
        text-align: center;
        color: #34495e;
        opacity: 0.6;
        padding: 10px 0;
    }
    .customerSport a{
        color: #5a95da;
    }














/* mobileView  */
 
.homePage-Mobile{
    display: none!important;
}

.tickIcon{
    display: none;
}
.tickIcon2{
    display: none;
}
.tickIcons{
    display: none;
}
.loginView{
    /* display: none; */
}
.loginViewMob{
    display: none;
}



@media only screen and (max-width: 1100px) {
    .bgImage{
        width: 1124px;
    }
    .looking-Container{
        /* max-width: 900px; */
        margin-left: 65px;
    }
    .homeContainer{
        margin-left:65px;
    }
    /* .footer-container{
        min-width: 1124px
    } */
    /* .AppFollow{
        min-width: 1124px
    } */
    .copyRight{
        min-width: 1124px
    }
}

