.features-main{
    background-color: rgb(238, 243, 248);
    min-height: 660px;
    width: 100%;
}
.features-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 70px;
    width: 100%;
    border-bottom: 2px solid;
    border-color: rgb(220, 225, 230);
    box-shadow: 1px 1px 3px rgb(220, 225, 230);
    position: fixed;
    z-index: 5;
    background-color: white;
}
.setting-box{
    width: 45%;
    height: 550px;
    border: 2px solid rgb(220, 225, 230);
    box-shadow: 3px 3px 5px rgb(220, 225, 230);
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 5px;
}

.left-side{
    color: rgb(143, 142, 142);
}

.settings-body{
    color: rgb(143, 142, 142);
}
.settings-item{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.settingts-item-element{
    width: 50%;
    display: flex;
}

.left-side-items{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    color: rgb(143, 142, 142);
}

#landing-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 70px;
    width: 100%;
    border-bottom: 2px solid;
    border-color: bisque;
    box-shadow: 3px 3px 5px #fff1f1;
    position: fixed;
    z-index: 5;
    background-color: white;
}

#nav-logo{
    width: 8%;
    display: flex;
    justify-content: space-between;
}

.help-child{
    display: flex;
    position:'fixed';
    z-index:'9';
    width:'80%';
    background-color:'white';
    height:'65px';
}

.help-nav{
    display: flex;
    position: fixed;
    z-index: 9;
    width: 990px;
    height: 65px;
    justify-content: space-between;
    background-color: #3a4c5e;
    box-shadow: 1px 1px 5px #3a4c5e;
}

.help-nav-child1{
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.help-nav-child2{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    color: #ffffff;
}

.help-nav-child3{
    display: flex;
    align-items: center;
    width: 20%;
    color: #ffffff;
    padding-left: 5%;
}

.help-body{
    min-height: 600px;
    /* width: 990px; */
    background-color: #e7e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-body-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 990px;
    background-color: #ffffff;
    margin: 20px 0px;
}

.help-body-list{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.phone-box{
    width: 45%;
    height: 450px;
    border: 2px solid rgb(220, 225, 230);
    box-shadow: 3px 3px 5px rgb(220, 225, 230);
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 5px;
}

.phone-body{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media only screen and (max-width: 990px){

    .help-main{
        zoom: 75%;
        width: 100%;
    }

    .help-body-list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
    }
    
    .help-nav{
        width: 70%;
        zoom: 60%;
    }



}

@media only screen and (max-width: 1200px){

    .features-navbar{
        display: none;
    }

    .features-main{
        background-color: #ffffff;
    }

    .phone-box{
        width: 100%;
        height: 450px;
        border: 0px;
        box-shadow:none;
        background-color: #ffffff;
        border-radius: 5px;
        margin-top: -90px;
        padding: 10px 5px;
    }

    .setting-box{
        width: 100%;
        height: 450px;
        border: 0px;
        box-shadow:none;
        background-color: #ffffff;
        border-radius: 5px;
        margin-top: -90px;
        padding: 10px 5px;
    }

    .hide-mobile-update{
        display: none;
    }

}