/*user_registration*/


.main-div-registration{
    font-size: small;

}

.required {
    display: inline;
    float: inline-start;
    position: absolute;
}

.required:after {
    content: " *";
    color: red;
}

.Credential{
    width: 100%;
    position:relative;
}

input{
    height: 3em;
}

.main {
    display: flex;
    justify-content: center;
    margin: 0% 20%;
}

.child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 10px;
    position:relative;
}

#btn {
    width: 10em;
}

#name {
    justify-content: flex-start;
    margin-top: 4em;
    align-items: flex-end;
}

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 230px;
    width: 100%;
}
.cover-image{
    height: 230px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: #536a80;
    height: 80px;
    width: 70%;
    z-index: 9;
    margin-top: -65px;
    overflow: hidden;
}
.logo-text{
    display: flex;
    justify-content: center;
    width: 80%;
    color: white;
    font-size: large;
    border-bottom: 1px solid white;
    margin-top: 7em;
    z-index: 9;
}

.logo-text p{
    text-align: center;
    border-bottom: 2px solid white;
    width: 25%;
}
.contact-detail{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.company-logo-box{
    width: 15%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.partner-sites{
    /* height: 100px;
    width: 50%; */
    height: 80px;
    background-color: #afc3d6;
}

@media only screen and (max-width: 900px){
    .main-div-registration{
        zoom: 65%;
        margin: 0px 0px;
    }

    .footer-List{
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {

    .main-div-registration{
        zoom: 45%;
        margin: 0px 0px;
    }

    .footer-List{
        width: 100%;
    }

    /* .main{
        display: flex;
        flex-direction: column;
        margin-left: 28%;
    }
    .child{
        width: 100%;
    }
    .Credential{
        width: 80%;
        position:relative;
    }
    #first-child{
        margin-left: 40px;
    }
    .btn{
       font-size: small;
    }
    .register-text{
        font-size: small;
    }
    .register-text{
        width: 100%;
        font-size: 15px;
    } */
    /* .main-div-registration{
        font-size: 5px;
    } */
}



/*user_registration*/